
<p-toast position="top-center" key="tc"></p-toast>

<div class="container h-full">
  <div class="flex justify-content-center align-items-center flex-wrap bg " style="min-height: 100%;">
    <div class="flex fadeoutup animation-duration-1000 animation-iteration-1 w-full align-items-center justify-content-center">
      <span class="p-input-icon-left w-6 ">
        <i class="pi pi-search"></i>
        <input type="text" placeholder="Digite uma palavra" (click)="exibirCardDefinicao = false" class="p-inputtext-lg w-10" pInputText [(ngModel)]="palavra"/>
        <p-button icon="pi pi-search" class="w-3 pl-2" styleClass="p-button-lg" (onClick)="pesquisar()"></p-button>
      </span>
    </div>

    <div *ngIf="exibirCardDefinicao" class="h-28rem w-10">
      <p-card [header]="palavra | titlecase " class="">
        <p *ngFor="let def of definicao; index as i" class="m-0">
           {{i+1}} - {{ def }}
        </p>

    </p-card>
    </div>
  </div>
</div>
